/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-box {
    background-color: #ddd0d0;
    padding: 40px;
    box-shadow: 0 0 10px rgba(52, 235, 27, 0.1);
    border-radius: 8px;
    width: 500px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #d72525;
  }
  
  .input-container {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  /* Add this to your Login.css */
.error {
    color: red;
    margin-top: 10px;
  }
  
  button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  